<mat-form-field class="search-bar" appearance='outline'>
  <input matInput placeholder="Type your search" #searchInput autocomplete="off">
</mat-form-field>

<table id="customers" class="mat-elevation-z7" *ngIf="(posts$ | async) as posts">

  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>UserId</th>
    </tr>
  </thead>

  <tr *ngFor="let post of posts">
    <td class="seqno-cell">{{post.title}}</td>
    <td class="description-cell">{{post.body}}</td>
    <td class="duration-cell">{{post.userId}}</td>
  </tr>

</table>
